@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.style-module_emptyIcons__Bg-FZ {
  display: flex !important;
  color: #ff9900 !important;
  width: 80px !important;
}

@layer components {
  .c-gray21 {
    background-color: #363636;
  }
  .c-chromaphobicblack {
    color: #292929;
  }
  .c-chromaphobicblackhalf {
    color: #29292950;
  }
  .c-orangepeel {
    color:#ff9900;
  }
  .c-eerieblack {
    color: #1e1e1e;
  }
  .c-eerieblackhalf {
    color: #1e1e1e50;
  }
  .bg-whitesmoke {
    background-color: #f8f8f8;
  }
}
